---
{"dg-publish":true,"permalink":"/inform/tree-verification/","dgHomeLink":true,"dgPassFrontmatter":false}
---

# Tree Verification
```ad-info

Link: [https://ganelson.github.io/inform/syntax-module/2-tv.html](https://ganelson.github.io/inform/syntax-module/2-tv.html)
Up: [[syntax]]
```

# Contents
- 